<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img class="icon"
    width="40"
    alt="Kelp Logo"
    src="../assets/kelp-logo-white-new.png"
  />
  <h4>GitHub User Records</h4>
    <div class="spacer"></div>
  <button mat-icon-button class="history" (click) = "toggleHistory()">
    <mat-icon class="history-icon">{{isHistory ? "search" : "history"}}</mat-icon>
  </button>
</div>


<div class="content" role="main">

  <app-home [isHistory] = isHistory (onHistoryClickEmitter)="toggleHistoryWithValue($event)"></app-home>

</div>

<div class="footer" role="footer">
  <footer></footer>
</div>
