table {
  width: 100%;
  table-layout: fixed;
  height: max-content;
  overflow: scroll;
}

th,
td {
  overflow: hidden;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: calc(0.4em + 1vw);
}

.mat-column-select {
  border-right: 1px solid currentColor;
  padding-right: 0.2vw;
  text-align: center;
}

.mat-header-cell {
  font-weight: bold;
  color: #000;
}

.mat-column-date {
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: left;
}

.mat-column-search {
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: left;
}

.mat-column-foundProfile {
  padding-left: 1vw;
  padding-right: 1vw;
  text-align: center;
}

.url {
  padding-left: 1vw;
  padding-right: 1vw;
  text-decoration: underline;
  color: blue;
}

.container {
  max-height: 68vh;
  width: 95vw;
  overflow: auto;
  display: flex;
  flex-direction: column;
  z-index: 10;
  border: 2px black solid;
  border-radius: 20px;
}

.delete {
  bottom: 10;
  padding-top: 5px;
  margin-bottom: 10px;
  float: right;
  z-index: 10;
}

::-webkit-scrollbar {
  width: 20px;
  overflow-y: scroll;
  background: white;
  box-shadow: inset 0 0 4px #707070;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #193152;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element {
  background-color: #193152 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #193152 !important;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #193152 !important;
}
